<!--build:js /js/all.js -->
%script(src="/lib/jquery/dist/jquery.js")
%script(src="/lib/popper.js/dist/popper.js")
%script(src="/lib/bootstrap/dist/js/bootstrap.js")
%script(src="/js/app.js")
<!-- endbuild -->
