!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width")

    %title Haml Template
    %meta(name="description" content="")
    %meta(name="keywords" content="")

    %meta(name="robots" content="index, follow")

    <!--build:css /css/all.min.css -->
    %link(rel="stylesheet" href="../css/vendor/bootstrap.css")
    %link(rel="stylesheet" href="../css/styles.css")
    <!-- endbuild -->

  %body
    %header
      // Some content here

    %section
      %p Hello World!

    %footer
      // Some content here

    <!--build:js /js/all.min.js -->
    %script(src="../js/vendor/bootstrap.js")
    %script(src="../js/app.js")
    <!-- endbuild -->
