!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width")

    %title Haml Template Sub-page
    %meta(name="description" content="")
    %meta(name="keywords" content="")

    %meta(name="robots" content="index, follow")

    <!-- partial:../partials/_head.html -->
    <!-- partial -->

  %body
    <!-- partial:../partials/_header.html -->
    <!-- partial -->

    %section
      %h1 Hello World
      %img(src="/img/temp.jpg" alt="Michael Scott")

    <!-- partial:../partials/_footer.html -->
    <!-- partial -->
