!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width")

    %title Haml Template
    %meta(name="description" content="")
    %meta(name="keywords" content="")

    %meta(name="robots" content="index, follow")

    __include('_head.html')

  %body
    __include('_header.html')

    %section
      %h1 Hello...
      %img(src="/img/temp.jpg" alt="Michael Scott")

    __include('_footer.html')

    __include('_scripts.html')
