// build:js /js/all.min.js
script(src="/vendor/jquery/dist/jquery.min.js")
script(src="/vendor/popper.js/dist/umd/popper.min.js")
script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
script(src="/js/main.js")
// endbuild
