extends layouts/_default

block variables
  - var title = 'Pug Template Home'
  - var description = 'Example of meta description'
  - var keywords = 'keyword 1, keyword 2'

block content
  section
    h1 Hello...
    img(src="/assets/img/temp.jpg" alt="Michael Scott")
